* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Chamando a fonte*/
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 0.85rem; /*REM é o nosso padrão (regras atuais)*/

    /*Bordas View*/
    /*border: solid 1px #000;*/
}

.caixa {
    border: 1px solid #ac1f61;
    background-color: #fff0f5;
    width: 220px;
    padding: 55px 40px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;   
    margin-top: 35px; 
}

.container-pai {
    width: 150px;
    height: 200px;

    /*FlexBox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 20px;
}

.container-button {
    width: 160px;
    padding: 5px;
    gap: 5px;
    
    /*FlexBox*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.caixa-titulo-imagem {
    border: 1px solid #ac1f61;
    background-color: #fff0f5;
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px; 
    position: relative;
}

.caixa-titulo-imagem h1 {
    font-size: 14px;
    color: rgb(139, 12, 61);
    margin-left: 30px;
    position: absolute;
}

.caixa-titulo-imagem img.logo {
    width: 25px; 
    height: auto;
    border-radius: 4px;           
    position: static;
    top: 1px;
    margin-left: -10px;
}

/*Botões*/
.btn {
    color: rgb(139, 12, 61);
    cursor: pointer;
    border: 1px solid #ac1f61;
    border-radius: 4px;
    background-color: hsl(325, 78%, 86%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 25px;
    gap: 5px;
}

.btn-primeira {
    height: 40px;
}

.btn-limpar {
    height: 40px;
}

.btn-contar {
    width: 150px;
}

/*Cabeçalho*/
.logo {
    width: 20px; 
    height: auto;
    margin-right: 130px;  
    position: relative;   
    top: 23px;          
}

.input-text {
    margin-top: -14px;
    width: 150px;
    height: 25px;
    padding: 4px;
    margin-bottom: 2px;
    border: 1px solid #ac1f61;
    border-radius: 4px;
    background-color: #ffffff
}

.cabecalho {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*Resultado*/
.result {
    width: 150px;        
    height: 150px;        
    padding: 8px;
    font-size: 0.85rem;
    border: 1px solid #ac1f61;
    border-radius: 4px;
    background-color: #ffffff; 
    color: #888;        
    overflow-y: auto;   
    min-height: 70px;  
}

/*Rodapé*/
.text-info {
    font-size: 0.85rem;
    color: #666363; 
    text-align: center;
    padding-bottom: 5px;
    margin-top: 9px;
}

.text-info p, 
.text-info a {
    display: block; 
    font-size: 11px; 
}

